body {
  background-color: blue;
  font-family: Times New Roman, sans-serif;
  color: white;
  margin: 10%
    
}

.exp-header{
  text-transform: uppercase;
  border-top: 1px solid ;
  border-bottom: 1px solid;
}
